.authList {
  list-style: none;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.authList li a {
  text-decoration: none;
}

.authList li:hover {
  text-decoration: underline;
}

.authList li a.isActive {
  color: var(--color-blue);
}
